.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
}

.posts {
    border: 1px solid black;
    list-style-position: inside;
}
.comments li {
    display: flex;
    width: 500px;
}

#comment {
    width: 250px;
}

.comments li p {
    width: 80px;
}

.comments li span {
    width: 100px;
}

.comments form {
    width: 175px;
    height: 50px;
}

.comments button {
    width: 70px;
    height: 30px;
    margin: 0 15px;
}

.lists {
    display: flex;
    max-width: 500px;
    width: 100%;
}

.lists .list {
    max-width: 500px;
    width: 100%;
}

.lists button {
    justify-content: center;
}

.list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ul li button {
    height: 20px;
}

.disabled {
    background-color: lightgrey
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.pagination li {
    margin: 3px;
}

.pagination li button {
    width: 25px;
    height: 25px;
    background-color: white;
    border: none
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.blue {
    background-color: blue!important;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

.form input {
    width: 100%;
    height: 30px;
    margin: 10px;
}

.button {
    background-color: green;
    width: 70px;
    height: 40px;
    border: 1px solid green;
    border-radius: 5px;
}



