.box {
    max-width: 760px;
    width: 100%;
    text-align: center;
}

.box_elements {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: 1px solid black;
    position: relative;
}

.box_elements > div {
    display: flex;
    flex-direction: row;
}

.box_element {
    width: 180px;
    height: 180px;
    margin: 15px;
    padding: 15px;
}

.dropable {
    border: 3px dashed green;
}

.action {
    display: flex;
    justify-content: end;
    align-items: start;
}

.drop {
    border: 3px dashed lightgreen;
}

.attr_menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    justify-content: end;
}

.attr_menu div {
    width: 220px;
}

.attr_menu > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.element {
    margin-top: 50px;
}