.childEventsPreventer > * {
    pointer-events: none;
}

.sidebar {
    text-align: center;
}

.sidebar_form {
    width: 300px;
    margin: 15px;
    text-align: left;
    border: 1px solid black;
    height: 500px;
}

.sidebar_form div {
    margin: 15px;
}
